<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Every breathe<br><em>you take</em></h1>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <ul>                      
                            <li>Breathing exercises also counteract the detrimental effects of rapid,
                                shallow breaths. If it leads to hyperventilation, this can result in vascular
                                changes in the brain, along with feelings of dizziness.</li>
                            <li>There are certain components of emotional responses that lie outside
                                your control. The autonomic nervous system and neuroendocrine
                                pathways are extremely difficult, if not impossible, for the average person
                                to exert control over. Some highly skilled practitioners of yoga have been
                                shown to have such mastery, but it requires years of intensive practice to
                                achieve. Still, there are particular things which can be done that are
                                subject to your conscious control and which, in turn transmit signals to
                                those systems within your body over which you have minimal influence.</li>
                            <li>You cannot consciously control the proportions of oxygen and carbon
                                dioxide in your blood, but you can regulate your breathing and, in doing
                                so, can transmit signals throughout the body which have the ultimate
                                effect of stabilizing various physiological systems. If you experience the
                                very rapid and shallow breathing often associated with fear and anxiety,
                                this can create build-up of carbon dioxide in the bloodstream. Elevated
                                C02 has been correlated with attacks of anxiety. Thus, while the anxious
                                state occurred in response to something threatening in the environment,
                                the emotional state is continued by the physiological consequences.
                            </li>
                            <li>Simply drawing three, long, deep breaths - inhaling through the nose, filling
                                the lungs, distending the diaphragm, and then exhaling slowly through the
                                mouth - has a substantial effect on altering the chemical makeup of the
                                blood and, therefore, on alleviating fear or anxiety. You’ll not only find
                                yourself energized; you indirectly will be controlling your physiology. This
                                type of deep breathing normally is associated with the relaxation response,
                                not with anxiety. Signals are transmitted into the nervous system, conveying
                                to the body that it is actually in a relaxed state.</li>
                            <li>By inhaling through the nostrils, another effect occurs - the brain
                                experiences a very slight drop in temperature. An elevation in brain
                                temperature is associated with negative feelings, which explains why so
                                many clichés have grown up around the concept, such as calling someone
                                ‘hot-headed,’ or suggesting they ‘chill out.’</li>
                            <li>There is still another benefit to engaging in deep breathing exercises; you
                                almost immediately will feel different because you are actively doing
                                something. And remember, it’s not the stressor, but your feeling of
                                helplessness, that is detrimental to your health. Breathing helps you take
                                control.
                                <ol>
                                    <li>Deep breathing helps you distance yourself from the immediate
                                        stressor through an act you control.</li>
                                    <li>The body associates deep breathing with a state of relaxation, which
                                        leads to an enhanced emotional state. </li>
                                    <li>Deep breathing actually cools the brain and stabilizes the physiology. </li>
                                </ol>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>            
            </section>
</div>
