<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<style type="text/css">
	#wacg-wrapper{
		float: left;
	}
	#wacg{
		
	}
</style>
        <script src="app/scriptsvendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
          <script src="app/scriptsvendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"> <link rel=stylesheet href=https: //cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css> <link href=https://plugin.accessibilityeg.com/app.js rel=preload as=script> <div id="wacg-wrapper" data-wacgid="PWZLVXD57WB7ONB07POHG7869NO2TJB4"> <div id=wacg></div> </div> <script src=https://plugin.accessibilityeg.com/app.js> </script>
  


<div class="page-content">
<section id="thankyou" class="content-section">                
                <div id="contact-content">
                    <div class="section-heading">
                        <h1>Thank <em>You</em></h1>
                    </div>
                </div>
            </section>
            <section class="footer">
                <p>Copyright &copy; 2021. WellKom</p>
</section>
</div>

