<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
 <section id="video" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>Abdominal <em>Breathing</em></h1>
                        </div>
                        <div class="text-content">
                            <div class="section-heading">
                            <ul>
                                <li>Lie down on a comfortable surface and place a light object on your
                                stomach. A book or small pillow will be fine. While breathing, you want your
                                abdomen to expand in response to downward movement of the diaphragm.
                                This is the muscle that separates the abdominal cavity from the lungs. As
                                the diaphragm moves down, air is drawn into the lower part of the lung. At
                                the same time, your stomach will rise. By placing an object on your
                                stomach, you will see this happen. Inhale slowly, hold the breath for a short
                                interval, and then slowly exhale.</li>
                            <li>Begin by doing a set of 10 deep breathing exercises. Then, as you become
                                more adept, do three or more such sets. Be careful that you do not become
                                lightheaded. This can happen when you start doing this for the first time.
                                When you reach the point where you can breathe smoothly and
                                rhythmically for five minutes, you will have mastered a time-honored
                                technique for reducing stress. By the way, the reason for lying down is so
                                that you can observe your abdomen rising as a confirmation that you are
                                doing it correctly. After you know what to do, you can practice this
                                technique in just about any comfortable setting - standing, sitting, or lying
                                down.</li>
                            </ul>         
            </section>
</div>
